.keyboardKey {
  border-radius: 3px;
  background-color: #ddd;
  color: #000;
  font-size: 1em;
  cursor: pointer;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0%;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  font-size: 1em;
  padding: 0px;
}

.absent {
  background-color: rgb(117, 117, 117);
  color: #eee;
}

.misplaced {
  background-color: rgb(180, 149, 8);
  color: #eee;
}

.correct {
  background-color: rgb(55, 184, 4);
  color: #eee;
}

.fontSmall {
  font-size: 0.8em;
}
