.virtualKeyboard {
  height: 200px;
  background-color: #efefef;
  width: 100%;
  display: block;
  margin: 0px 8px;
}

.keyboardRow {
  width: 100%;
  display: flex;
  margin-bottom: 8px;
}

.spacer {
  display: block;
  flex-grow: 0.5;
  flex-shrink: 1;
  flex-basis: 0%;
  user-select: none;
}
